{
    "tabWidth": 4,
    "plugins": ["prettier-plugin-tailwindcss"],
    "printWidth": 100,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "proseWrap": "preserve",
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "bracketSameLine": false,
    "singleAttributePerLine": false
}
